<%- include("partials/header") %>

<div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-4">

        <h2 id="title" class="text-center">Metrics</h2>

        <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
        <% } %>
        <form class="form" method="post">
          <div class="form-group">
            <input type="text" name="username" class="form-control" ng-model="userName" placeholder="User name" value = "<%= locals.username || '' %>" />
          </div>

          <div class="form-group">
            <input type="password" name="password" class="form-control" ng-model="password" placeholder="Password">
          </div>

          <div class="form-group text-center">
            <button class="btn btn-outline-danger">Login</button>
          </div>

        </form>

    </div>
  </div>
<%- include("partials/footer") %>
